.logo1 {
    height: 55px;
}

.meio-bu {
    padding-left: 667px;
}

.meio-ga {
    padding-left: 85px;
}

.top {
    padding-top: 40px;
}

.mae {
    font-size: 35px;
}

.inline {
    display: inline;
}

.logo2 {
    height: 120px;
}